@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <img src="~/img/LogoPrincipal.png" alt="Logo ReiNona" class="fade-in-logo" style="max-width: 300px; height: auto; margin-top: 80px;" />
</div>

<h2>¡Hola, viajero!</h2>


<p class="main-text">
    Me alegra que hayas llegado a mi pequeño rincón de arte. Aquí podrás encontrar algunas de las cosillas que hago: ¡concept art, diseño de personajes y animación! Ponte cómodo, y siéntete libre de viajar por cualquiera de las secciones. Espero que algo de lo que veas pueda convertirse en un puente para hacer algo mágico juntos :)
</p>

<h2>Portfolio</h2>
<hr />

<div class="portfolio-buttons">
    <a href="/Portfolio#concept" class="btn-portfolio">Concept</a>
    <a href="/Portfolio#personajes" class="btn-portfolio">Personajes</a>
    <a href="/Portfolio#reel" class="btn-portfolio">Demo Reel</a>
</div>
