@{
    ViewData["Title"] = "Portfolio";
}

<h1 class="init fade-in-logo">PORTFOLIO</h1>

<h2 id="concept">CONCEPT</h2>
<hr />

<h2>Concept de un Zigurat | “Echoes of The Forgotten”</h2>
<p style="text-align:center">
    Concept art para Echoes of the Forgotten, un videojuego indie ambientado en una época
    post-apocalítpica tras la derrota de la humanidad en Babilonia contra la naturaleza.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/concept/Fondo zigurat.jpg" alt="Concepto" />
</div>

<h2>Concept | Preproducción “Blumen Ohne Ende”</h2>
<p style="text-align:center">
    Blumen Ohne Ende fue una idea de cortometraje para conmemorar el 30 aniversario de la
    muerte de Michael Ende, autor de obras como MOMO o La Historia Interminable.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/concept/PortadaFINAL PUEDE.jpg" alt="Concepto" />
</div>

<div class="imgport fade-in-left">
    <img src="~/img/concept/Tunel 2 layout y corrección color.jpg" alt="Concepto" />
</div>

<h2>Fate EXTRA | Remake Identidad Visual</h2>
<p style="text-align:center">
    Junto a una compañera desarrollamos un rediseño de la identidad del juego FATE EXTRA,
    un JRPG táctico donde luchas por sobrevivir en una guerra digital por el Santo Grial, junto a
    un misterioso Servant.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/concept/STYLEFRAME_FINAL.jpg" alt="Concepto" />
</div>

<h2 id="personajes">PERSONAJES</h2>
<hr />

<h2>Personajes | Diseño de Personajes "Un Cuento de Cartas"</h2>
<p style="text-align:center">
    Un Cuento de Cartas es una novela de fantasía oscura que estoy desarrollando, dónde
    criaturas mágicas, brujas y humanos luchan por recuperar una libertad que realmente
    tendrían al alcance de su mano, si tan solo las leyendas no los hicieran odiarse.
    Hice el diseño de personajes de los cinco protagonistas, intentando reflejar sus historias,
    ambiciones y miedos a través de su apariencia.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/personajes/UCDC/FINAL.jpg" alt="Concepto" />
</div>

<div class="imgport fade-in-left">
    <img src="~/img/personajes/UCDC/ESCALA DE GRISES.jpg" alt="Concepto" />
</div>

<div class="imgport fade-in-left">
    <img src="~/img/personajes/UCDC/Line up.jpg" alt="Concepto" />
</div>

<h2>Diseño de personaje de Gigi | Preproducción “Blumen Ohne Ende”</h2>
<p style="text-align:center">
    Gigi Cicerone es un narrador carismático y soñador, que encanta a todos con sus historias fantásticas y su alegría contagiosa. En un mundo gris, los vivos colores de sus guantes y pañuelo te llevan a su profesión de cuentacuentos.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/personajes/GIGI HOJA DE PERSONAJE.png" alt="Concepto" />
</div>

<h2>Diseño de personaje de los Hombres Grises | Preproducción “Blumen Ohne Ende”</h2>
<p style="text-align:center">
    Los Hombres Grises son seres fríos y calculadores que roban el tiempo de las personas, alimentándose del apuro y la indiferencia. Son empresarios que negocian con tiempo, y por ello su diseño remite a un negociante lánguido y cruel.
</p>
<div class="imgport fade-in-left">
    <img src="~/img/personajes/Hombres grises.png" alt="Concepto" />
</div>

<h2 id="reel">DEMO REEL</h2>
<hr />

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius:10px; margin-bottom: 30px;">
        <iframe src="https://www.youtube.com/embed/IgjyLCP-7So"
                title="Rei Cristina García Castellano Demo Reel 2025"
                style="position: absolute; top:0; left: 0; width: 100%; height: 100%;"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
</div>
