@{
    ViewData["Title"] = "Sobre mí";
}

<h1 class="init fade-in-logo">SOBRE MI</h1>

<section class="about-container">

    <div class="intro-section">
        <h2>¡Hola, bienvenido!</h2>
        <h2>Mi nombre es Rei, ¡Encantada!</h2>
    </div>

    <img src="~/img/About/REI GARCÍA - FOTOGRAFÍA 03.jpg" class="about-image" alt="Foto de Rei" />

    <div class="about-section">
        <p class="about-text">
            Siempre he creído que detrás de cada trazo, se esconde un mundo interno de magia e imaginación.
            Y algo me dice que es justo lo que necesitas para hacer algo increíble ;).
        </p>
    </div>

    <img src="~/img/About/REI GARCÍA - FOTOGRAFÍA 04.jpg" class="about-image" alt="Segunda foto de Rei" />

    <div class="about-section">
        <p class="about-text">
            Me encantan los girasoles, siempre me han inspirado para seguir aquello que me da luz y me nutre.
            Así, entré en la carrera de Diseño y Tecnologías Creativas en la UPV, y he ido haciendo mis trabajillos
            personales hasta ahora.
        </p>
    </div>

    <h2>Herramientas que manejo:</h2>
    <div class="software-grid">
        <img src="~/img/logos/KRITA.png" alt="Krita">
        <img src="~/img/logos/PHOTOSHOP.png" alt="Photoshop">
        <img src="~/img/logos/ILLUSTRATOR.png" alt="Illustrator">
        <img src="~/img/logos/TOON BOOM.png" alt="Toon Boom">
        <img src="~/img/logos/AFTER EFFECTS.png" alt="After Effects">
        <img src="~/img/logos/ADOBE PREMIERE.png" alt="Premiere">
    </div>


    <p>
        También me encanta escribir y componer, y estoy desarrollando un proyecto de escritura creativa de forma
        independiente. Si te gusta la magia y las cartas, ¡siempre puedes contactar conmigo!
    </p>
</section>
